[Unit]
Description=UMI clean-cup LingBot VLA2 5k private inference on squirrel RTX 5090

[Service]
Type=simple
ExecStart=/bin/bash /home/lrl/workspace/umi_cup_models_5090_20260928/lingbot/run_lingbot_5000.sh
Restart=no
WorkingDirectory=/home/lrl/workspace/umi_cup_models_5090_20260928

[Install]
WantedBy=default.target
